# This file does not contain all ignored patterns, see: ~/.gitignore_global

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# no 'class' files
*.class

# eclipse '.metadata' directories
**/.metadata/

# other filetypes that don't need to be under version control
*.doc
*.pdf
*.exe
*.taghl
**/tags

# broken files and the like
**/.exclude/
